<!DOCTYPE html>
<html>
<title>Pagina Administrador</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-teal.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>

<div class="w3-sidebar w3-collapse w3-white w3-animate-left w3-large" style="z-index:3;width:300px;" id="mySidebar">

<div class="w3-bar w3-black w3-center">
  <a class="w3-bar-item w3-button" style="width:33.33%" href="javascript:void(0)" onclick="openNav('nav01')">
  <i class="fa fa-bars w3-xlarge"></i></a>

</div>

<div class="w3-bar-block">
  <a class="w3-button w3-hover-teal w3-hide-large w3-large w3-right" href="javascript:void(0)" onclick="w3_close()">×</a>
  <a class="w3-bar-item w3-button w3-border-bottom w3-large" href="/admin">Vinoteca</a>
  <a class="w3-bar-item w3-button" href="/admin/productos">productos</a>
  <a class="w3-bar-item w3-button" href="/admin/personas">personas</a>
  <a class="w3-bar-item w3-button" href="/admin/compras">compras</a>
  <a class="w3-bar-item w3-button" href="/admin/sucursales">Sucursal</a>
</div>
</div>


<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" id="myOverlay"></div>

<div class="w3-main" style="margin-left:300px;"> 

<div class="w3-top w3-theme w3-large w3-hide-large">
  <i class="fa fa-bars w3-button w3-teal w3-xlarge" onclick="w3_open()"></i>
</div>
<!-- header  -->

<header class="w3-container w3-blue w3-padding-32 w3-center">
  <a href="/"><h1 class="w3-xxxlarge w3-padding-16 w3-black" >Vinoteca Admin </h1></a>
</header>


<div class="w3-container w3-padding w3-section w3-light-grey w3-center">
  <h1 class="w3-xlarge">Estadisticas</h1>
</div>

<div class='col-md-6 mt-4'>

  <div class='w3-striped'>
    <table class="w3-table-all w3-centered w3-card-4">
      <h3>Cliente con mayor numero de compras</h3>
      <tr class="w3-blue">
            <th>Correo</th>
            <th>Numero Pedidos</th>
        </tr>
        <% for(var i = 0; i < datos.length; i++){ %>
            <tr>
             <td><%=datos[i].correo%></td>
             <td><%=datos[i].NumeroPedidos%></td>
            </tr>
        <% } %>
    </table>
  </div>

    <div class='w3-striped'>
      <table class="w3-table-all w3-centered w3-card-4">
        <h3>estadisticas generales de los productos</h3>
        <tr class="w3-blue">
              <th>Menor precio productos</th>
              <th>Mayor precio Productos</th>
              <th>El promedio de los productos</th>
          </tr>
          <% for(var i = 0; i < datos1.length; i++){ %>
              <tr>
               <td><%=datos1[i].MenorPrecio%></td>
              
          <% } %>
          <% for(var i = 0; i < datos2.length; i++){ %>
            
             <td><%=datos2[i].MayorPrecio%></td>
            
        <% } %>
        <% for(var i = 0; i < datos3.length; i++){ %>
          
           <td><%=datos3[i].ElPromedioDeLosPrecios%></td>
          </tr>
      <% } %>
      </table>
    </div>
    
    <br>

     <div class=' w3-striped'>
        <h2 class="w3-section">Instrucciones: </h2>
        <p>1.- En la parte superior izquierda se podra encontrar con los productos, personas y compras, para añadir actualizar y modificar</p>
        <p>2.- En el caso de compras usted no añade compras pero si puede modificarse si lo amerita </p>
        <p>3.- dentro de esta pagina usted puede ver tambien los pedidos de las personas que tienen en el carrito de compras junto con su correo</p>
        <p>4.- En esta pagina tambien se pueden visualizar el mayor precio que tiene especicacion, tambien el menor y el promedio de los productos que tienen especificación</p>
        <p>IMPORTANTE: LO QUE SE MUESTRA EN ESTO NO TIENE QUE VER CON LAS COMPRAS ORIGINALES YA QUE ESTAS SON COMPRAS QUE ESTAN SIENDO PROCESADAS EN EL MOMENTO NO LAS HECHAS</p>
      </div>
    </div>
    <div class='col-md-6 mt-4'>
      <table class="w3-table-all w3-centered w3-card-4">
          <h3>Producto mas vendido</h3>
           <tr class="w3-blue">
                <th>Numero de ventas</th>
                <th>Id</th>
                <th>Nombre</th>
                <th>Imagen</th>
            </tr>

            <% for(var i = 0; i < datos4.length; i++){ %>
                <tr>
                 <td><%=datos4[i].ProductoMaximo%></td>
                 <td><%=datos4[i].id_producto%></td>
                 <td><%=datos4[i].nombre%></td>
                 <td ><img style="max-width:50%;max-height:50px" src= "<%=datos4[i].jpg%>" ></td>
                </tr>
             <% } %>     
         </table>        
        </div>




    <div class='col-md-6 mt-4 w3-striped'>
      <table class="w3-table-all w3-centered w3-card-4">
        <h3>Productos menos vendidos</h3>
        <tr class="w3-blue">                    
          <th>id</th>
          <th>Nombre</th>
          <th>precio</th>
          <th>Imagen</th>
        </tr>
          <% for(var i = 0; i < datos5.length; i++){ %>
            <tr> 
            <td><%=datos5[i].id_producto%></td>
            <td><%=datos5[i].nombre%></td>
            <td><%=datos5[i].precio%></td>
            <td ><img style="max-width:50%;max-height:50px" src= "<%=datos5[i].jpg%>" ></td>
            </tr>
          <% } %>
      </table> 
     
    </div>




<script>
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

openNav("nav01");
function openNav(id) {
  document.getElementById("nav01").style.display = "none";
  document.getElementById("nav02").style.display = "none";
  document.getElementById("nav03").style.display = "none";
  document.getElementById(id).style.display = "block";
}

</script>

<script src="https://www.w3schools.com/lib/w3codecolor.js"></script>

<script>
w3CodeColor();
</script>

</body>
</html> 
