<!DOCTYPE html>
<html>
<title>Pagina Administrador</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-teal.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>

<div class="w3-sidebar w3-collapse w3-white w3-animate-left w3-large" style="z-index:3;width:300px;" id="mySidebar">

<div class="w3-bar w3-black w3-center">
  <a class="w3-bar-item w3-button" style="width:33.33%" href="javascript:void(0)" onclick="openNav('nav01')">
  <i class="fa fa-bars w3-xlarge"></i></a>

</div>

<div class="w3-bar-block">
  <a class="w3-button w3-hover-teal w3-hide-large w3-large w3-right" href="javascript:void(0)" onclick="w3_close()">×</a>
  <a class="w3-bar-item w3-button w3-border-bottom w3-large" href="/admin">Vinoteca</a>
  <a class="w3-bar-item w3-button" href="/admin/productos">productos</a>
  <a class="w3-bar-item w3-button" href="/admin/personas">personas</a>
  <a class="w3-bar-item w3-button" href="/admin/compras">compras</a>
  <a class="w3-bar-item w3-button" href="/admin/sucursales">Sucursal</a>
</div>
</div>


<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" id="myOverlay"></div>

<div class="w3-main" style="margin-left:300px;"> 

<div class="w3-top w3-theme w3-large w3-hide-large">
  <i class="fa fa-bars w3-button w3-teal w3-xlarge" onclick="w3_open()"></i>
</div>


<header class="w3-container w3-blue w3-padding-32 w3-center">
  <a href="/"><h1 class="w3-xxxlarge w3-padding-16 w3-black" >Vinoteca Admin </h1></a>
</header>


<div class="w3-container w3-padding w3-section w3-light-grey w3-center">
  <h1 class="w3-xlarge">Modificar persona</h1>
</div>
<p> Modifique la persona segun los datos que usted necesite cambiar</p>
  <div class="w3-row padding ">
    
    <div class="w3-half w3-container">
      <% for(var i = 0; i < datos.length; i++){ %>
        <div class="w3-row padding ">
            <div class="w3-half w3-container">
              <form action="/modificar4/<%=datos[i].correo%>" method="post" class="card-body">
              <div class="input-group ">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input id="correo" type="text" class="form-control" name="correo" value="<%=datos[i].correo%>">
              </div>
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input id="nombre" type="text" class="w3-half w3- form-control" name="nombre" value="<%=datos[i].nombre%>">
              </div>
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input id="password" type="text" class="w3-half w3- form-control" name="password" value="<%=datos[i].password%>">
              </div>
              <div class="input-group">
                <label for="fecha_nacimiento">fecha nacimiento:</label>
                <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" value="<%=datos[i].fecha_nacimiento%>">
              </div>
              <label>Rol del usuario dentro de la pagina:</label><br>
              <div class="w3-row padding">
                <div class="w3-third ">
                  <input id="rol" class="w3-radio" type="radio" name="rol" value="cliente" checked>
                <label>cliente</label>
                <br>
                </div>
                <div class="w3-third">
                  <input id="rol" class="w3-radio" type="radio" name="rol" value="administrador" checked>
                  <label>administrador</label>
                  <br>
                </div>
              </div>
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                <input id="telefono" type="text" class="form-control" name="telefono" value="<%=datos[i].telefono%>">
              </div>
              
              <br>
              <input type="submit" class="btn btn-primary" value="Confirmar" ></input>
            
              <a type="button" class="btn btn-default" href="/admin/personas" >Anular/Cancelar</a>
            </form> 
            </div>
          
        </div>
    <% } %> 
 
    </div>
  
</div>

 

 


<script>
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

openNav("nav01");
function openNav(id) {
  document.getElementById("nav01").style.display = "none";
  document.getElementById("nav02").style.display = "none";
  document.getElementById("nav03").style.display = "none";
  document.getElementById(id).style.display = "block";
}

</script>

<script src="https://www.w3schools.com/lib/w3codecolor.js"></script>

<script>
w3CodeColor();
</script>

</body>
</html> 
